<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'contactstyle.css' %}">
    
</head>
<body>
    <video autoplay muted loop id="contactsvideo">
        <source src="{% static 'background/contacts.mp4' %}"  type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="contact">
        <div class="link">
            <a href="{% url 'index' %}">Go Back to HOME</a>
          </div>
    <h1>CONTACT</h1>
    <h2>Thankyou for visiting my site</h2>
    <p>My Contact Number:6383748624</p>
</div>

</body>
</html>