
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PORTFOLIO</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" >
</head>
<body>
    <video autoplay muted loop id="background-video">
        <source src="{% static 'background/Background.mp4' %}" type="video/mp4">
        <source src="{% static 'background/Background.webm' %}" type="video/webm">  <source src="{% static 'background/Background.ogv' %}" type="video/ogg">  Your browser does not support the video tag.
    </video>
<div class="main">
            <div class="navbar">
                <div class="icon">
                    <h2 class="logo">MATHI</h2>
                </div>
            <div class="menu">
                <ul>
                    <li><a href="{% url 'index' %}">HOME</a></li>
                    <li><a href="{% url 'aboutme' %}">ABOUTME</a></li>
                    <li><a href="{% url 'projects' %}">PROJECTS</a></li>
                    <li><a href="{% url 'certifications' %}">CERTIFICATIONS</a></li>
                    <li><a href="{% url 'contacts' %}">CONTACT</a></li>
                </ul>
            </div>

               
            </div>
            <div class="content">
                <h1>WELCOME TO MY PORTFOLIO</h1> 
                <h2>-- GO AHEAD!! </h2> 
                <div class="par">
                  <p><i>Hi, I'm Mathivathani. I'm a web developer with a passion for creating user-friendly websites. I enjoy learning and applying new technologies. I have a strong interest in web development and enjoy exploring the latest technologies and design trends.
                    Beyond coding, I'm an avid reader, particularly drawn to self-development books that inspire personal and professional growth. This drive for continuous learning fuels my dedication to creating high-quality projects.  
                    I believe in the power of hard work and strive to consistently improve my skills. I'm excited to showcase my projects here and demonstrate my commitment to excellence.                   
                    Feel free to explore my portfolio and get in touch if you have any questions or opportunities to discuss.</i></p>
                    <img src="{% static 'books.jpg' %}" width="400" height="200" alt="bookstogrow">

                </div>
                <div class="category">
                   <h1>CATEGORIES</h1>
                  </div> 
                    <div class="container">
                        <div class="project">
                            <a href="{% url 'blog' %}"> <img src="{% static 'books.jpg' %}" width="400" height="200" alt="bookstogrow"> </a>
                            <h3>Books</h3>
                            <p>My bookshelf is filled with self-development books that inspire and challenge me.</p>
                        </div>
                    <div class="project">
                        <a href="{% url 'explore' %}"><img src="{% static 'img1.jpg' %}" width="400" height="200" alt="Resized Image"></a>
                        <h3>EXPLORE</h3>
                        <p>explore my projects!</p>
                    </div>
                    <div class="project">
                        <a href="{% url 'myskills' %}"><img src="{% static 'skills.jpg' %}" width="400" height="200" alt="skills_to_gain_knowledge"></a>
                        <h3>MY SKILLS</h3>
                        <P>Skills such as web development , django, html css js, figma</P>

                    </div>
                </div>
            </div>
        </div>
        </div>
</body>
</html>