<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROJECTS</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'projects.css' %}" >
</head>
<body>
    <section id="projects">
      <div class="link">
        <a href="{% url 'index' %}">Go Back to HOME</a>
      </div>
        <h2>PROJECTS</h2>
        <div class="project">
          <h2>ONLINE CHAT FEATURE USING REACT</h2>
          <p>The chat feature has room id and password to chat in online mode.</p>
          <a href="https://github.com/mathivathani1234/chats" target="_blank">View on GitHub</a>
        </div>
    
        <div class="project">
          <h2>E-COMMERCE CART PROJECT</h2>
          <p>E-commerce cart project using HTML, CSS and JAVASCRIPT.</p>
          <a href="https://github.com/mathivathani1234/tasks" target="_blank">View on GitHub</a>
        </div>

        <div class="project">
            <h2>MY QUIZ APP USING DJANGO</h2>
            <p>Quiz project using djanog to get scores of the user.</p>
            <a href="https://github.com/mathivathani1234/again" target="_blank">View on GitHub</a>
          </div>

          <div class="project">
            <h2>TODO LIST USING DJANGO AND CRUD OPERATIONS</h2>
            <p>Todo list project using django and having operations like delete , edit, update.</p>
            <a href="https://github.com/mathivathani1234/Crud" target="_blank">View on GitHub</a>
          </div>

          <div class="project">
            <h2>GUJARAT MAP PROJECT USING HTML</h2>
            <p>specify the location of the map using html </p>
            <a href="https://github.com/mathivathani1234/gujaratimaps" target="_blank">View on GitHub</a>
          </div>

          <div class="project">
            <h2>UPLOAD SITE USING PYTHON</h2>
            <p>upload a single image file using python</p>
            <a href="https://github.com/mathivathani1234/upload-site-using-python" target="_blank">View on GitHub</a>
          </div>

          <div class="project">
            <h2>E-COMMERCE AMAZON PROJECT USING REACT</h2>
            <p>By the help of Naan mudhalvan able to render amazon project</p>
            <a href="https://github.com/mathivathani1234/Ecommerce-project" target="_blank">View on GitHub</a>
          </div>
          
        </section>
        
</body>
</html>